<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>261564730163-m1h4v9mpisom3aj34skdf139kjfjgh5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261564730163-m1h4v9mpisom3aj34skdf139kjfjgh5r</string>
	<key>API_KEY</key>
	<string>AIzaSyCxLLD9j5i5mkm4kczNzJM_Y7TkRxJNs9w</string>
	<key>GCM_SENDER_ID</key>
	<string>261564730163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pointpower.pointpow</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-8377b</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-8377b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261564730163:ios:9cd3fec2b61dcdda</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase-8377b.firebaseio.com</string>
</dict>
</plist>